In [20]:
import os
import pandas as pd
import glob

In [11]:
for filename in glob.glob('reviews/0000*.dat'):
    data = pd.read_csv(filename)
    print(data)

Steps needed that we couldn't figure out.

1. reviewSubset = pd.read_csv('reviews/review00000.dat', names = ['CustID','InvoiceId','ProdRating'])

I know we need to loop through these and add column names to all of them but also somehow make it that the data actually goes into the correct column

and then aggregate them together

In [14]:
reviewSubset = pd.read_csv('reviews/review00000.dat', names = ['CustID','InvoiceId','ProdRating'])

In [15]:
reviewSubset

                     CustID  InvoiceId  ProdRating
0         Customer ID: 2383        NaN         NaN
1  Invoice ID: S11999300004        NaN         NaN
2       Product Rating: 2/5        NaN         NaN

In [17]:
with open(r'reviews/review00000.dat','r') as file:
    data=file.read().split('\n\n')
data=[i.split('\n') for i in data]
df=pd.DataFrame(data,columns=['CustID','InvoiceId','ProdRating'])

print(df)

              CustID                 InvoiceId           ProdRating
0  Customer ID: 2383  Invoice ID: S11999300004  Product Rating: 2/5

In [21]:
def concatenate(indir="C:\\Users\\kschu\\Desktop\\Reboot\\reboot-capstone-2021\\reviews", outfile= "C:\\Users\\kschu\\Desktop\\Reboot\\reboot-capstone-2021\\aggReviews.csv"):
    os.chdir(indir)
    fileList=glob.glob("review0000*.dat")
    dfList = []
    colnames=["Customer_ID", "Invoice_ID", "Product_Rating"]
    for filename in fileList:
        print(filename)
        df=pd.read_csv(filename, header=None)
        dfList.append(df)
    concatDf = pd.concat(dfList, axis=0)
    concatDf.columns=colnames
    concatDf.to_csv(outfile, index=None)

In [22]:
concatenate()

review00000.dat
review00001.dat
review00002.dat
review00003.dat
review00004.dat
review00005.dat
review00006.dat
review00007.dat
review00008.dat
review00009.dat

ValueError: Length mismatch: Expected axis has 1 elements, new values have 3 elements